{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<!-- For Micro.blog -->
<link href="https://micro.blog/anunay" rel="me" />

<!-- For micropub -->
<link href="https://api.anunay.org/micropub/main" rel="micropub">
<link href="https://tokens.indieauth.com/token" rel="token_endpoint">

<!-- For indieauth -->
<link href="https://twitter.com/anunaykul" rel="me">
<link href="https://github.com/anunayk" rel="me">
<link href="mailto:anunay.kulshrestha@gmail.com" rel="me">
<link href="{{ base_path }}/assets/key.txt" rel="pgpkey">

<meta http-equiv="cleartype" content="on">
